<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Spring6ReactiveExamplesApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot" nameIsGenerated="true">
    <module name="spring-6-reactive-examples" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="guru.springframework.spring6reactiveexamples.Spring6ReactiveExamplesApplication" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>